<!DOCTYPE html>
<html lang="en">

<head>
    <title>Waterspout</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{maps_key}}">
    </script>
    <script type="text/javascript">
        var map;
        var marker;
        var catchment;

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(
                    42.7293537081706, -73.67598719938633),
                zoom: 12
            };
            map = new
                google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });

            // Generate polyline from points dbf file
            var catchmentCoords = [
                {% for p in points %}
                {lat: {{p['lat']}}, lng: {{p['lng']}} },
                {% endfor %}
            ];
            catchment = new google.maps.Polygon({
                path: catchmentCoords,
                geodesic: true,
                fillColor: "blue",
                fillOpacity: 0.5,
                strokeOpacity: 0.0,
                clickable: false
            });

            catchment.setMap(map);

            // Generate polyline of DEM boundary
            
            var boundaryCoords = [
                {% for p in boundary %}
                {lat: {{p['lat']}}, lng: {{p['lng']}} },
                {% endfor %}
            ];
            
            boundaryPoly = new google.maps.Polygon({
                path: boundaryCoords,
                geodesic: true,
                strokeColor: "#FF0000",
                fillOpacity: 0.0,
                strokeWeight: 2,
                clickable: false
            });

            boundaryPoly.setMap(map);
            
        }

        function placeMarker(location) {
            if (marker) {
                marker.setPosition(location)
            }
            else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
            document.getElementById('latitude').value = location.lat();
            document.getElementById('longitude').value = location.lng();
        }
    </script>
</head>

<body onload="initialize()">
    <h1>Waterspout</h1>
    <p>Map of upslope catchment area for the selected location.</p>
    <div id="map-canvas"></div>

    <div id="newcrimeform">
        <h2>Pick a new point:</h2>
        <form action="/submit" method="POST">
            <label for="latitude">Latitude</label>
            <input name="latitude" id="latitude" type="text">
            <label for="longitude">Longitude</label>
            <input name="longitude" id="longitude" type="text">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>